-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  {{ APP_NAME }} - {{ restaurant.name }}

-block bootstrap3_content
  %script{src:"{{ STATIC_URL }}js/utils.js"}
  -leaflet_js
  -leaflet_css

  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  :javascript
    function map_init (map, options) {
      var icon = L.AwesomeMarkers.icon({
        icon: 'cutlery',
        markerColor: tags_to_color({{ restaurant.tags_for_js|safe }}),
      })
      L.marker([{{ restaurant.lat }}, {{ restaurant.lon }}], {icon: icon}).addTo(map);
      map.setView([{{ restaurant.lat }}, {{ restaurant.lon }}], 14);
    }

  .container
    -include "navbar.haml"
    .row
      %h1= restaurant.name
      %hr

      .col-md-6
        =restaurant.review|safe

        %h3 Details
        %ul
          %li Address: {{ restaurant.address|safe }}
          -if restaurant.phone
            %li Téléphone:
              %a{href: "tel:{{ restaurant.get_international_phone_number }}"}
                =restaurant.get_national_phone_number
          -if restaurant.website
            %li
              %a{href: "{{ restaurant.website }}"}
                ="Site web"
          %li
            %a{href: "https://maps.google.com/maps?saddr=&daddr={{ restaurant.lat }},{{ restaurant.lon }}" }
                ="Itinéraire (via Google Maps)"
                -# keep in sync with the popup mustache template

      .col-md-6
        %div{style: "border: 1px solid black"}
          -leaflet_map "map" callback="window.map_init"
