-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  {{ APP_NAME }}

-block bootstrap3_content
  %script{src:"{{ STATIC_URL }}js/utils.js"}

  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  .container
    -include "navbar.haml"
    .row
      %h1{style: "font-family: Olivier; text-align: center;"}
        {{ APP_NAME }}

      %p{style: "font-size: x-large"}
        Avec <span style="font-family: Olivier">VegOresto</span>, trouvez facilement un restaurant où manger vegan :<br/>
        Restos végétariens, végétaliens ou traditionnels, tous proposent au moins une offre complète 100% végétale.

      %p{style:"text-align: center"}
        %a{href:"http://vegoresto.fr"} Rendez-vous sur vegoresto.fr pour en savoir plus.

      %span{style:'text-decoration: underline'} Installer l'application mobile (pour Android uniquement) :
      %p{style:'padding-left: 10px'}
        L'application <span style="font-family: Olivier">VegOresto</span> pour Android est <a href="https://play.google.com/store/apps/details?id=be.desmottes.mangerveggie">disponible en téléchargement sur le PlayStore</a>.
        

      %span{style:'text-decoration: underline', name: "mobile_shortcut"} Ajouter un raccourci vers <span style="font-family: Olivier">VegOresto</span> :
      %p{style:'padding-left: 10px'}
        Pour ajouter un raccourci sur votre smartphone (iPhone, iPad, BlackBerry, ...), vous pouvez effectuer la procédure suivante :
        TODO


