-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  {{ APP_NAME }}

-block bootstrap3_content
  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  .container
    -include "navbar.haml"
    .row
      %h1 {{ APP_NAME }}

      %h2 Avec VegOresto, trouvez facilement un restaurant où manger vegan :<br/>
      %h2 restos végétariens, végétaliens ou traditionnels, tous proposent au moins une offre complète 100% végétale


      <a name="mobile_shortcut">
      Pour ajouter l'application en tant que raccourci sur votre smartphone:
      (Pour Android, téléchargez l'application)
      ...
      ...
