.overlay
      %span{onclick:'this.style.display=\"none\"'} Mangez vegan au restaurant
      %ul
              %li
                      .awesome-marker-icon-purple.awesome-marker
                              %i.glyphicon.glyphicon-cutlery.icon-white
                      Végétarien
              %li
                      .awesome-marker-icon-green.awesome-marker
                              %i.glyphicon.glyphicon-cutlery.icon-white
                      Vegan
              %li
                      .awesome-marker-icon-blue.awesome-marker
                              %i.glyphicon.glyphicon-cutlery.icon-white
                      Traditionnel
