.navbar.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/about"}
        %img.navbar-logo{src:"{{ STATIC_URL }}img/vegoresto-topbar-icon.png"}
      %a.navbar-toggle{data-toggle: "collapse", data-target: ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      -#%form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{type: "text", placeholder: "Restaurant"}
        %button.btn.btn-default{type: "submit"}
          Rechercher
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/about"} À propos
