/* http://vegoresto.fr/wp-content/themes/vegoresto/style.css
- bleu:		#7AA0A1
- orange:	#F49B27
- vert:		#76AD56 */

.scroll-top {
  background: none;
  background-color: #F49B27;
}

.navbar-bold.affix {
  background: none;
  background-color: #F49B27;
}

.navbar-bold {
  background: none;
  background-color: #F49B27;
}

#suggest {
  display: none;
}

@font-face {
    font-family: Olivier;
    font-style: normal;
    font-weight: 300;
    src: url(https://vegoresto.fr/wp-content/themes/vegoresto/fonts/olivier_demo-webfont.woff) format('woff');
}
/*
.navbar-brand img {
    display: inline;
}
.navbar-brand div {
    display: inline-block;
    font-family:'Olivier';
} */
.navbar-brand {
    padding: 0px;
}

/* navbar is 50px high */
.navbar-logo {
    height: 44px;
    margin: 3px;
}

.overlay {
    position: fixed;
    width: 100%;
    /* height: 30px; */
    bottom: 22px; /* don't overlay under the "Attribution" div nor the scale div */
    overflow: auto;
    background-color:  rgba(255, 255, 255, 0.5);
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.overlay ul {
    padding: 0;
    margin: 0;
}

.overlay li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 5px solid;
    font-weight: bold;
}

.overlay li:last {
    margin-right: 0px;
}
