.scroll-top {
  background: none;
  background-color: brown;
}

.navbar-bold.affix {
  background: none;
  background-color: brown;
}

.navbar-bold {
  background: none;
  background-color: brown;
}

#suggest {
  display: none;
}
