-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  {{ APP_NAME }}

-block bootstrap3_content
  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  .container
    -include "navbar.haml"
    .row
      %h1{style: "font-family: Olivier; text-align: center;"}
        {{ APP_NAME }}

      %p{style: "font-size: x-large"}
        Avec <span style="font-family: Olivier">VegOresto</span>, trouvez facilement un restaurant où manger vegan :<br/>
        Restos végétariens, végétaliens ou traditionnels, tous proposent au moins une offre complète 100% végétale.

      %p
        Les établissements de restauration référencés par <span style="font-family: Olivier">VegOresto</span> proposent au moins un menu vegan à leur carte.
        Les restaurateurs s'y sont engagés en signant la charte <span style="font-family: Olivier">VegOresto</span>.<br/>
        <span style="font-family: Olivier">VegOresto</span> est une initiative de l'organisation de défense des animaux <a href="http://www.l214.com/">L214</a>.<br/>
        %a{href:"https://vegoresto.fr"} Rendez-vous sur vegoresto.fr pour en savoir plus.

      %h3#mobile_shortcut Comment installer l'application <span style="font-family: Olivier">VegOresto</span> sur votre smartphone Android ?
      %p
        Il suffit de <a href="{{ ANDROID_APP_URL }}">l'installer via Play Store</a>
        %a{href: '{{ ANDROID_APP_URL }}'}
          %img.google-play-badge-about{src: '{{ STATIC_URL }}img/google-play-badge.png', alt: 'installer via Play Store'}

      %h3#ecran_accueil Comment ajouter <span style="font-family: Olivier">VegOresto</span> à l'écran d'accueil de votre smartphone non-Android ?
      %p
        %ul
          %li
            %a{href:"https://www.apple.com/chfr/ios/add-to-home-screen/"} iPhone/iOS
            %ul
              %li Touchez le bouton Partager au bas de l'écran Safari
              %li Touchez l'icône intitulée "Sur l'écran d'accueil"
              %li Touchez le bouton "Ajouter" dans l'angle supérieur droit
          %li
            %a{href:"https://www.windowsphone.com/fr-be/how-to/wp7/start/pin-things-to-start"} Windows Phone
            %ul
              %li
                Appuyez sur Autres
                %img{src: "//cmsresources.windowsphone.com/windowsphone/fr-BE/How-to/wp7/inline/basic-icon-ellipses.png"}
              %li Puis sur "Épingler sur l'écran d'accueil"
          %li
            Android (si vous ne pouvez/souhaitez pas utiliser l'application dédiée)
            %ul
              %a{href:"https://support.mozilla.org/fr/kb/ajouter-supprimer-et-afficher-des-pages-web-marqu%C3%A9es-firefox-android#w_ajouter-un-marque-page-aa-votre-aecran-daccueil"} Mozilla Firefox
              %ul
                %li Allez au site que vous voulez et appuyez en maintenant pendant deux secondes sur la barre d'adresse.
                %li Puis choisissez Ajouter à l’écran d’accueil.
            %ul
              %a{href:"https://support.google.com/chrome/answer/95739?hl=fr"} Chrome
              %ul
                %li
                  Ouvrez le menu Chrome
                  %img{src: "//lh3.googleusercontent.com/vOgJaWNbkf_Y0kOEQXe4wSlufkMuTb8NqGMIXSP-mRm72oR4ABGkR1L4sXyMmb7lBHnz=h18"}
                %li
                  Appuyez sur l'icône représentant une étoile
                  %img{src: "//lh3.ggpht.com/SEdDjoaQ-qufNcDGhJh5KXW0q3-tABnuWjM5fpqE9kbOyJaXN3co5MEcQu7kqoCIqHA5O84=w20"}
                %li Lorsque vous avez terminé, appuyez sur la coche.
            %ul
              %li Navigateur natif
              %ul
                %li Rajouter la page en tant que favori
                %li Rajouter le favori à la page d'accueil

      %h3#credits Crédits
      %p
        La version mobile de <span style="font-family: Olivier">VegOresto</span> est basée sur
        %a{href:"https://manger-veggie.be/about/"} Manger Veggie
