.overlay
      %span{onclick:'this.style.display=\"none\"', style:'font-weight: bold;'} Trouver un restaurant où manger vegan
      %ul
              -# .awesome-marker-icon-purple.awesome-marker
              %li{style:'color: #d252b9'}
                      Végétarien
              -# .awesome-marker-icon-green.awesome-marker
              %li{style:'color: #72b026'}
                      Vegan
              -# .awesome-marker-icon-blue.awesome-marker
              %li{style:'color: #38aadd'}
                      Vegan-Friendly
