:javascript
  $(document).ready(function(){ on_navbar_ready(); });

.navbar.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        %img.navbar-logo{src:"{{ STATIC_URL }}img/vegoresto-topbar-icon.png"}
      %a.navbar-toggle{data-toggle: "collapse", data-target: ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      -#%form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{type: "text", placeholder: "Restaurant"}
        %button.btn.btn-default{type: "submit"}
          Rechercher
      %ul.nav.navbar-nav.navbar-right
        %li#android-download-menu
          %a{href: '{{ ANDROID_APP_URL }}'}
            %img.google-play-badge-menu{src: '{{ STATIC_URL }}img/google-play-badge.png'}
        %li#mobile-shortcut-menu
          %a{href: 'about#mobile_shortcut'}
            Ajouter un raccourci vers {{ APP_NAME }}
        %li
          %a{href: "/about"} À propos
