-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  {{ APP_NAME }}

-block bootstrap3_content
  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  .container
    -include "navbar.haml"
    .row
      %h1 {{ APP_NAME }}
      %p
        Trouvez facilement où manger de savoureux plats végétariens et végétaliens grâce à Manger Veggie.
      %p
        <i>Manger Veggie</i> est une application mobile qui répertorie les établissements proposant des plats végétariens/végétaliens en Belgique.
        Les restaurants sont testés et sélectionnés par notre équipe de bénévoles afin de vous offrir un large choix d'adresses de qualité.

      %h2 FAQ
      %h3
        Comment puis-je suggérer un restaurant pour qu'il soit ajouté à Manger Veggie ?
      %p
        Il vous suffit de remplir <a href="https://docs.google.com/forms/d/17p47X22LnkIiufrQbZk9jyPYGPkhXOawGkygclEz_4g/viewform?c=0&w=1">
        ce formulaire</a>. Notre équipe ira tester votre trouvaille avant de l'ajouter.

      %h3
        J'adore aller au restaurant et aimerais rejoindre votre équipe afin d'écrire mes propres reviews. Comment faire ?
      %p
        Notre équipe est actuellement assez restreinte et toute aide est plus que bienvenue ! Merci de nous
        <a href="mailto:support@manger-veggie.be">envoyer un e-mail</a> en précisant la ou les zones de Belgique que vous pourriez couvrir.

      %h3
        Un restaurant proposé n'a pas répondu à mes attentes ou j'ai des bugs avec l'application. Comment vous les rapporter ?
      %p
        <a href="mailto:support@manger-veggie.be">Envoyez-nous un e-mail</a> décrivant le problème.

      %h3#mobile_shortcut Puis-je installer Manger Veggie sur mon smartphone ?
      %p
        %ul
          %li
            Android : il suffit de <a href="{{ ANDROID_APP_URL }}">l'installer via Play Store</a>.
          %li
            iPhone : ajoutez le site à votre écran d'accueil <a href="http://www.apple.com/chfr/ios/add-to-home-screen/">comme expliqué ici</a>.
          %li
            Windows Phone : épinglez le site sur l'écran d'accueil <a href="http://www.windowsphone.com/fr-be/how-to/wp7/start/pin-things-to-start">comme expliqué ici</a>.

      %p
        %a{href: '{{ ANDROID_APP_URL }}'}
          %img.google-play-badge-about{src: '{{ STATIC_URL }}img/google-play-badge.png'}

      %h3 Quelle est la différence entre Manger Veggie et VegOresto ?
      %p
        <a href="http://vegoresto.fr/">VegOresto</a>
        recense les restaurants français proposant au moins une entrée, un plat et un dessert végétalien.
        De son côté, <a href="http://manger-veggie.be">Manger Veggie</a> a pour but de suggérer les restaurants belges
        proposant des plats végétariens et/ou végétaliens de qualité. Les critiques mises en ligne se concentrent sur les options vg du restaurant.

      %p
        Toutefois, nous sommes en étroite collaboration avec l'équipe de <a href="http://vegoresto.fr/">VegOresto</a>,
        celle-ci utilisant notre logiciel pour sa <a href="http://m.vegoresto.fr/"/>version mobile</a>.

      %h3
        Pourquoi avoir créé Manger Veggie plutôt que contribuer à des sites tels qu'HappyCow ?
      %p
        <a href="http://vegetik.org/">Végétik</a> étant une association belge francophone, nous voulions profiter de cette proximité pour offrir
        une application répondant au mieux aux besoins de nos membres et sympathisants : interface et critiques en français, sélection plus large de restaurants, etc.
        Nous sommes toutefois de grands utilisateurs d'<a href="https://www.happycow.net/"/>HappyCow</a> lors de nos voyages à l'étranger et serions heureux de mettre
        notre liste de restaurants à leur disposition au besoin.

      %h2 Végétik
      %p
        <i>Manger Veggie</i> est un projet
        %a{href: "https://github.com/gdesmott/manger-veggie/"} libre et open-source
        de l'association <a href="http://vegetik.org/">Végétik</a>,
        en partenariat avec
        %a{href: "http://vegoresto.fr/"} VegOresto
        de l'association <a href="http://www.l214.com/">L214</a>.

      .row
        .col-md-2
          %a{href: "http://vegetik.org/"}
            %img.img-responsive.about-logo{src:"{{ STATIC_URL }}img/vegetik.png"}
        .col-md-2
          %a{href: "http://manger-veggie.be/"}
            %img.img-responsive.about-logo{src:"{{ STATIC_URL }}img/logo-highicon.png"}
        .col-md-2
          %a{href: "http://www.l214.com/"}
            %img.img-responsive.about-logo{src:"{{ STATIC_URL }}img/logo-L214-fond-blanc-carre-100x106.png"}
        .col-md-2
          %a{href: "http://vegoresto.fr/"}
            %img.img-responsive.about-logo{src:"{{ STATIC_URL }}img/logo-vegoresto-01.png"}
