-extends "base.haml"

-load leaflet_tags

-block bootstrap3_title
  Manger Veggie

-block bootstrap3_content
  %link{href: "/static/css/styles.css", rel: "stylesheet"}
  %script{src:"{{ STATIC_URL }}js/utils.js"}

  :css
    body {
        padding-top: 51px; /*for navbar*/
    }

  .container
    -include "navbar.haml"
    .row
      %h1 Manger Veggie
      %p
        Trouver facilement où manger des plats végétariens et végétaliens de qualité grace à Manger Veggie.
      %p
        <i>Manger Veggie</i> est une application mobile permettant de facilement trouver les établissements proposant des plats végétariens/végétaliens en Belgique.
        Les restaurants sont sélectionnés et testés par notre équipe de bénévoles afin de vous offrir un large choix d'adresses de qualité.
      %h2 Végétik
      %p
        <i>Manger Veggie</i> est un projet
        %a{href: "https://github.com/gdesmott/manger-veggie/"} libre et open-source
        de l'association <a href="http://vegetik.org/">Végétik</a>,
        en partenariat avec
        %a{href: "http://vegoresto.fr/"} VegOresto
        de l'association <a href="http://www.l214.com/">L214</a>.
        %center
          %img{src:"{{ STATIC_URL }}img/vegetik.png"}
