-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_extra_head

  {% if VEGO_RESTO %}
    %link{href: "/static/img/vegoresto-favicon.png", rel: "icon apple-touch-icon"}
    %link{href: "/static/img/vegoresto-logo-192.png", rel: "icon apple-touch-icon", size: "192x192"}
  {% else %}
    %link{href: "/static/img/favicon.png", rel: "shortcut icon"}
  {% endif %}

  %meta{name: "mobile-web-app-capable", content: "yes"}
  %link{href: "/static/css/styles.css", rel: "stylesheet"}

  {% if VEGO_RESTO %}
    %link{href: "/static/css/vegoresto.css", rel: "stylesheet"}
  {% else %}
    %link{href: "/static/img/logo-highicon.png", rel: "shortcut icon", size: "192x192"}
  {% endif %}

  %script{src:"//code.jquery.com/jquery.min.js"}
  %script{src:"{{ STATIC_URL }}js/utils.js"}
  %script{src:"{{ STATIC_URL }}js/underscore-min.js"}

  {% load piwik %}
  {% piwik %}

  -block head
