-extends "bootstrap3/bootstrap3.html"

-block bootstrap3_extra_head
  %link{href: "/static/img/favicon.png", rel: "shortcut icon"}
  %link{href: "/static/img/logo-highicon.png", rel: "shortcut icon", size: "192x192"}
  %meta{name: "mobile-web-app-capable", content: "yes"}

  %link{href: "/static/css/styles.css", rel: "stylesheet"}
  {% if VEGO_RESTO %}
    %link{href: "/static/css/vegoresto/styles.css", rel: "stylesheet"}
  {% endif %}

  -block head
