-extends "bootstrap3/bootstrap3.html"

-load leaflet_tags

-block bootstrap3_extra_head
  -leaflet_js
  -leaflet_css

  :css
    .leaflet-container {
        width:  100%;
        height: 100vh;
    }

-block bootstrap3_content
  .container
  -leaflet_map "map"
