-extends "bootstrap3/bootstrap3.html"

-load leaflet_tags

-block bootstrap3_title
  Veg'Out - trouver où manger végétarien facilement

-block bootstrap3_extra_head
  %link{href: "/static/css/styles.css", rel: "stylesheet"}
  -leaflet_js
  -leaflet_css

  :css
    .leaflet-container {
        width:  100%;
        height: 100vh;
    }

    body {
        padding-top: 51px; /*for navbar*/
    }

  :javascript
    function map_init (map, options) {
      resto_map = map

      $.getJSON("restaurants.json", function(data) {
        for (var i = 0; i < data.length; i ++) {
          var resto = data[i];
          var marker = L.marker([resto.lat, resto.lon]).bindPopup('<center><h4>' + resto.name + '</h4></center><hr>' + resto.address + '<br>' + resto.phone + '<br><a href="' + resto.website + '">' + resto.website + '</a><br><a href="restaurant/' + resto.id + '/">Plus d\'informations</a>');
          markers_cluster.addLayer(marker);
        }
      })

      // Locate user
      var lc = L.control.locate().addTo(map);
      lc.locate();

      // makercluster
      var markers_cluster = new L.MarkerClusterGroup();
      map.addLayer(markers_cluster);
    }

-block bootstrap3_content
  .navbar.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
    .container
      .navbar-header
        %a.navbar-brand{href: "#"}
          Veg'Out
        %a.navbar-toggle{data-toggle: "collapse", data-target: ".navbar-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar.collapse.navbar-collapse
        %form.navbar-form.navbar-left{role: "search"}
          .form-group
            %input.form-control{type: "text", placeholder: "Restaurant"}
          %button.btn.btn-default{type: "submit"}
            Rechercher
        -#
          %ul.nav.navbar-nav
            %li.active
              %a{href: "#"} Home
            %li
              %a{href: "#about"} About
            %li
              %a{href: "#contact"} Contact

  .container
  -leaflet_map "map" callback="window.map_init"
