:javascript
  $(document).ready(function(){ on_navbar_ready(); });

.navbar.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        %img.navbar-logo{src:"{{ STATIC_URL }}img/topbar-icon.png"}
      %a.navbar-toggle{data-toggle: "collapse", data-target: ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      -#%form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{type: "text", placeholder: "Restaurant"}
        %button.btn.btn-default{type: "submit"}
          Rechercher
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href: "#", data-toggle: "dropdown", role: "button", aria-expanded: "false"} Légende
            %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a.legend.resto-filter{href: "#"}
                  .awesome-marker-icon-blue.awesome-marker
                    %i.glyphicon.glyphicon-cutlery.icon-white
                  Végétarien-friendly
              %li
                %a.legend.resto-filter{href: "#"}
                  .awesome-marker-icon-orange.awesome-marker
                    %i.glyphicon.glyphicon-cutlery.icon-white
                  Végan-friendly
              %li
                %a.legend.resto-filter{href: "#"}
                  .awesome-marker-icon-green.awesome-marker
                    %i.glyphicon.glyphicon-cutlery.icon-white
                  Végétarien
              %li
                %a.legend.resto-filter{href: "#"}
                  .awesome-marker-icon-darkgreen.awesome-marker
                    %i.glyphicon.glyphicon-cutlery.icon-white
                  Végan
      %ul.nav.navbar-nav.navbar-right
        %li#android-download-menu
          %a{href: '{{ ANDROID_APP_URL }}'}
            %img.google-play-badge-menu{src: '{{ STATIC_URL }}img/google-play-badge.png'}
        %li#mobile-shortcut-menu
          %a{href: 'about#mobile_shortcut'}
            Ajouter un raccourci vers {{ APP_NAME }}
        %li#suggest
          %a{href: "http://goo.gl/forms/AoBT7976ao"} Suggérer un restaurant
        %li
          %a{href: "/about"} À propos
