.navbar.navbar-fixed-top.navbar-bold{data-spy: "affix", data-offset-top: "1000"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        Resto Veggie
      %a.navbar-toggle{data-toggle: "collapse", data-target: ".navbar-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{type: "text", placeholder: "Restaurant"}
        %button.btn.btn-default{type: "submit"}
          Rechercher
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{href: "#", data-toggle: "dropdown", role: "button", aria-expanded: "flase"} Légende
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} Végétarien-friendly
            %li
              %a{href: "#"} Vegan-friendly
            %li
              %a{href: "#"} Végétarien
            %li
              %a{href: "#"} Végan
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/about"} À propos
