<center><h4>{{ resto.name }}</h4></center>
<hr>{{ resto.address }}<br>
{{#resto.phone}} {{ resto.phone }}<br> {{/resto.phone}}
{{#resto.website}} <a href="{{ resto.website }}">{{ resto.website }}</a><br> {{/resto.website}}
<i><a href="restaurant/{{ resto.id }}/">Plus d'informations</a></i>
<p>{{#resto.tags}}<span class="label label-success">{{.}}</span> {{/resto.tags}}</p>
